<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Favicons -->
  <link rel="icon" href="assets/img/logo/tab_icon.png">

  <!-- Libs CSS -->
  <link rel="stylesheet" href="assets/libs/%40fancyapps/fancybox/dist/jquery.fancybox.min.css">
  <link rel="stylesheet" href="assets/libs/%40fortawesome/fontawesome-free/css/all.min.css">
  <link rel="stylesheet" href="assets/libs/flickity/dist/flickity.min.css">
  <link rel="stylesheet" href="assets/libs/highlightjs/styles/vs2015.css">
  <link rel="stylesheet" href="assets/libs/simplebar/dist/simplebar.min.css">
  <link rel="stylesheet" href="assets/libs/flickity-fade/flickity-fade.css">
  <link rel="stylesheet" href="assets/fonts/feather/feather.css">

  <!-- Theme CSS -->
  <link rel="stylesheet" href="assets/css/theme.min.css">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-154926440-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-154926440-1');

  </script>

  <title>Memekar. Media. &mdash; Comming Soon</title>

</head>

<body>

  <!-- NAVBAR -->
  <nav class="navbar navbar-expand navbar-dark @@classList">
    <div class="container">

      <!-- Brand -->
      <a class="navbar-brand" href="https://memekarmedia.com/">
        Memekar. Media.
      </a>

      <!-- Nav -->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#!">
            <i class="fab fa-facebook-f"></i>
          </a>
        </li>
        <li class="nav-item ml-n4">
          <a class="nav-link" href="#!">
            <i class="fab fa-twitter"></i>
          </a>
        </li>
        <li class="nav-item ml-n4">
          <a class="nav-link" href="#!">
            <i class="fab fa-instagram"></i>
          </a>
        </li>
        <li class="nav-item ml-n4">
          <a class="nav-link" href="#!">
            <i class="fab fa-medium"></i>
          </a>
        </li>
      </ul>

    </div>
  </nav>


  <!-- CONTENT -->
  <section class="bg-cover" style="margin-top: -90px; background-image: url(assets/img/covers/cover-21.jpg);">
    <div class="container d-flex flex-column">
      <div class="row align-items-center justify-content-center min-vh-100 pt-13 pb-12">
        <div class="col-12 col-md-10 col-lg-8 col-xl-6 text-center text-white">

          <!-- Heading -->
          <h1>We are Coming Soon</h1>

          <!-- Text -->
          <p class="mb-9 font-size-lg">
            Our team have been working on something amazing.
          </p>

          <!-- Counter -->
          <div class="d-flex justify-content-center mb-10" data-countdown data-date="Jan 5, 2021 15:37:25">
            <div class="text-center">
              <div class="font-size-h1 font-weight-bolder" data-days>00</div>
              <div class="heading-xxs">Days</div>
            </div>
            <div class="px-1 px-md-4">
              <div class="font-size-h2 font-weight-bolder">:</div>
            </div>
            <div class="text-center">
              <div class="font-size-h1 font-weight-bolder" data-hours>00</div>
              <div class="heading-xxs">Hours</div>
            </div>
            <div class="px-1 px-md-4">
              <div class="font-size-h2 font-weight-bolder">:</div>
            </div>
            <div class="text-center">
              <div class="font-size-h1 font-weight-bolder" data-minutes>00</div>
              <div class="heading-xxs">Minutes</div>
            </div>
            <div class="px-1 px-md-4">
              <div class="font-size-h2 font-weight-bolder">:</div>
            </div>
            <div class="text-center">
              <div class="font-size-h1 font-weight-bolder" data-seconds>00</div>
              <div class="heading-xxs">Seconds</div>
            </div>
          </div>

          <!-- Form -->
          <form>
            <div class="form-row">
              <div class="col-12 col-md">

                <!-- Input -->
                <div class="form-group mb-md-0">
                  <label class="sr-only" for="comingSoonEmail"></label>
                  <input class="form-control form-control-dark" id="comingSoonEmail" type="email"
                    placeholder="Enter Email *">
                </div>

              </div>
              <div class="col-12 col-md-auto">

                <!-- Button -->
                <button class="btn btn-dark" type="submit">
                  Notify me!
                </button>

              </div>

            </div>
          </form>

        </div>
      </div>
    </div>
  </section>

  <!-- JAVASCRIPT -->
  <!-- Libs JS -->
  <script src="assets/libs/jquery/dist/jquery.min.js"></script>
  <script src="assets/libs/%40fancyapps/fancybox/dist/jquery.fancybox.min.js"></script>
  <script src="assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="assets/libs/flickity/dist/flickity.pkgd.min.js"></script>
  <script src="assets/libs/highlightjs/highlight.pack.min.js"></script>
  <script src="assets/libs/jarallax/dist/jarallax.min.js"></script>
  <script src="assets/libs/list.js/dist/list.min.js"></script>
  <script src="assets/libs/simplebar/dist/simplebar.min.js"></script>
  <script src="assets/libs/smooth-scroll/dist/smooth-scroll.min.js"></script>
  <script src="assets/libs/flickity-fade/flickity-fade.js"></script>

  <!-- Theme JS -->
  <script src="assets/js/theme.min.js"></script>


</body>

</html>